body{
    background-color: #000000;
}
a{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-display: initial;
    text-align: start;
    text-rendering: auto;
}
.Titulos{
    font-size: 45;
    color: pink;
    text-align: center;
    
}
#CloserJihyo{
    color: #aeb7b2;
    font-weight: bold;
    font-size: 20px;
}
#LETRASOnTheFlootJLOPitbull{
    color: #e3b49a;
    font-weight: bold;
    font-size: 20px;

}
.Imagenes{
    width: 200px;
    height: 200px;
    align-content: end;
}